body  {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-position:left top;　
}

@font-face{
	font-family: "myFont";
	src:url(../font/DK_Meshuggeneh.otf);
}

#navigation {
    margin-left: 75%;
    margin-top: 19%;
}

img{
    padding: 5px;
    width: 40px;
    height: 40px;
}

#git{
    position:relative;
    left: 11px;
    top: 10px;
    height: 60px;
    width: 60px;
}

li {
    padding: 8px;
    list-style: none;
}

.social_icon{
    position: relative;
}

ul li a {
    color: #D8D8D8;
    font-family: myFont;
    font-size: 45px;
    text-decoration: none;
}

a:hover {
    color: #fff;
}